In [1]:
import pandas as pd
import re

In [13]:
with open('Lines.txt', 'r') as file:
    lines = file.readlines()

In [16]:
data = []

# Regular expression to match the desired pattern
pattern = r'New Line\.(LINE\d+) Bus1=(\d+) Bus2=(\d+)'

# Extract the line name, Bus1, and Bus2 values from each line
for line in lines:
    match = re.search(pattern, line)
    if match:
        line_name = match.group(1)
        bus1 = match.group(2)
        bus2 = match.group(3)
        data.append([line_name, bus1, bus2])

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(data, columns=['Line Name', 'Bus1', 'Bus2'])

In [17]:
df

     Line Name  Bus1  Bus2
0        LINE1     1     2
1        LINE2     2     3
2        LINE3     3     4
3        LINE4     4     5
4        LINE5     5     6
...        ...   ...   ...
3309  LINE3310  3309  3311
3310  LINE3311  3310  3312
3311  LINE3312  3311  3313
3312  LINE3313  3313  3314
3313  LINE3314  3314  3315

[3314 rows x 3 columns]

In [19]:
df.to_excel('Lines.xlsx', index=False)